$red-1200: #780000;
$red-1100: #960000;
$red-1000: #b21605;
$red-900: #cf3322;
$red-800: #eb4f3e;
$red-700: #ff6352;
$red-600: #ff8677;
$red-500: #ffa99c;
$red-400: #ffc0b6;
$red-300: #ffd7cf;
$red-200: #ffeae5;
$red-100: #fff4f2;

$orchid-1200: #550000;
$orchid-1100: #730018;
$orchid-1000: #8f0034;
$orchid-900: #ac1c51;
$orchid-800: #c8386d;
$orchid-700: #dc4c81;
$orchid-600: #f372a1;
$orchid-500: #ff97bf;
$orchid-400: #ffb2d2;
$orchid-300: #ffcde5;
$orchid-200: #ffe3f3;
$orchid-100: #fff1f9;

$purple-1200: #27003d;
$purple-1100: #45005b;
$purple-1000: #611477;
$purple-900: #7e3194;
$purple-800: #9a4db0;
$purple-700: #ae61c4;
$purple-600: #ca85de;
$purple-500: #e1a7f1;
$purple-400: #edbffa;
$purple-300: #f9d6ff;
$purple-200: #ffe9ff;
$purple-100: #fff4ff;

$violet-1200: #090050;
$violet-1100: #270f6e;
$violet-1000: #432b8a;
$violet-900: #6048a7;
$violet-800: #7c64c3;
$violet-700: #9078d7;
$violet-600: #ad97ed;
$violet-500: #c5b3fb;
$violet-400: #d6c8ff;
$violet-300: #e6dcff;
$violet-200: #f1eaff;
$violet-100: #fbf7ff;

$turquoise-1200: #00302d;
$turquoise-1100: #004e4b;
$turquoise-1000: #006a67;
$turquoise-900: #008784;
$turquoise-800: #00a3a0;
$turquoise-700: #00b7b4;
$turquoise-600: #29cdca;
$turquoise-500: #57e0dd;
$turquoise-400: #7deae9;
$turquoise-300: #a3f5f4;
$turquoise-200: #c7fdfc;
$turquoise-100: #e6ffff;

$plum-grey-1200: #241d36;
$plum-grey-1100: #433c54;
$plum-grey-1000: #605970;
$plum-grey-900: #7d778c;
$plum-grey-800: #9a93a8;
$plum-grey-700: #aea8bb;
$plum-grey-600: #c6c1d0;
$plum-grey-500: #dad6e3;
$plum-grey-400: #e6e3ec;
$plum-grey-300: #f2f0f6;
$plum-grey-200: #f7f6fa;
$plum-grey-100: #fbfafc;
